<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="applab.client.pulse"
    android:versionCode="2012011300"
    android:versionName="@string/app_version" >

    <application
        android:name="applab.client.ApplabApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name="applab.pulse.client.PulseTabs"
            android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="applab.pulse.client.Settings"
            android:configChanges="orientation|keyboardHidden"
            android:label="Settings"
            android:theme="@android:style/Theme.Light" />
        <activity
            android:name="applab.pulse.client.About"
            android:configChanges="orientation|keyboardHidden"
            android:label="About" />
        <activity
            android:name="applab.client.BrowserActivity"
            android:configChanges="orientation|keyboardHidden" />

        <!-- Hook for being notified when the OS boots -->
        <receiver android:name="applab.pulse.client.service.BootCompletedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>

                <category android:name="android.intent.category.HOME" >
                </category>
            </intent-filter>
        </receiver>

        <!-- Tell android that we have a service to run -->
        <service android:name="applab.pulse.client.service.ApplabPulseService" >
            <intent-filter>
                <action android:name="applab.pulse.client.service.ApplabPulseService" >
                </action>
            </intent-filter>
        </service>
    </application>

    <uses-sdk
        android:minSdkVersion="3"
        android:targetSdkVersion="4" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.CONTROL_LOCATION_UPDATES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        xmlns:android="http://schemas.android.com/apk/res/android"
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />

</manifest>